<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historical ár</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div class="container">
    <h1>Historical ár</h1>
    <a th:href="@{'/főoldal'}">Főoldal</a>
    <a th:href="@{'/SOAP'}">SOAP</a>
    <a th:href="@{'/Faccount'}">fiók/Account</a>
    <a th:href="@{'/Factual'}">Aktuális ár</a>
    <a th:href="@{'/Fhist'}">Történelmi ár</a>
    <a th:href="@{'/Fnyit'}">Pozíció nyitás</a>
    <a th:href="@{'/Fzár'}">Pozíció zárás</a>
</div>
<div class="content">
    <h2>Történelmi árfolyam:</h2>
    <form th:action="@{/Fhist}" th:object="${par}" method="post">
        <label>
            Instrument:
            <select th:field="*{instrument}">
                <option value="EUR_USD">EUR_USD</option>
                <option value="USD_CHF">USD_CHF</option>
                <option value="GBP_USD">GBP_USD</option>
                <option value="USD_JPY">USD_JPY</option>
            </select>
        </label>

        <label style="margin-left:16px;">
            Granularity:
            <select th:field="*{granularity}">
                <option value="M1">M1</option>
                <option value="H1">H1</option>
                <option value="D">D</option>
                <option value="W">W</option>
                <option value="M">M</option>
            </select>
        </label>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>