<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ForexAccount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<div class="container">
    <h1>Forex Account menü</h1>
    <a th:href="@{'/főoldal'}">Főoldal</a>
    <a th:href="@{'/SOAP'}">SOAP</a>
    <a th:href="@{'/Faccount'}">Fiók/Account</a>
    <a th:href="@{'/Factual'}">Aktuális ár</a>
    <a th:href="@{'/Fhist'}">Történelmi ár</a>
    <a th:href="@{'/Fnyit'}">Pozíció nyitás</a>
    <a th:href="@{'/Fzár'}">Pozíció zárás</a>
</div>

<body class="is-preload">

<div class="content">
    <h2>A fiók adatai:</h2>
    <div th:if="${accountMap}">
        <p th:each="entry : ${accountMap}">
            <span th:text="${entry.key} + ' = '"></span>
            <span th:text="${entry.value}"></span>
        </p>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
