<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historical ár</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div class="container">
    <h1>Historical ár</h1>
    <a th:href="@{'/főoldal'}">Főoldal</a>
    <a th:href="@{'/SOAP'}">SOAP</a>
    <a th:href="@{'/Faccount'}">fiók/Account</a>
    <a th:href="@{'/Factual'}">Aktuális ár</a>
    <a th:href="@{'/Fhist'}">Történelmi ár</a>
    <a th:href="@{'/Fnyit'}">Pozíció nyitás</a>
    <a th:href="@{'/Fzár'}">Pozíció zárás</a>
</div>

<div class="content">
    <h2 th:text="'Historikus adatok - ' + ${instr} + ' (' + ${granularity} + ')'"></h2>

    <table class="price-table" th:if="${candles}">
        <thead>
        <tr>
            <th>Időpont</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candle : ${candles}">
            <td th:text="${candle['Time']}"></td>
            <td th:text="${candle['Open']}"></td>
            <td th:text="${candle['High']}"></td>
            <td th:text="${candle['Low']}"></td>
            <td th:text="${candle['Close']}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>